/* section */
@media (min-width: 320px) and (max-width: 480px) {
.flex-container {
    flex-direction: column;
}
.right-block-child:nth-child(2),
.right-block-child:nth-child(3)
{
    display: none;
}
.flex-container {
    row-gap: 36px;
}
.right-block {
    width: 100%;
}

}

@media (min-width: 481px) and (max-width: 834px) {
    .flex-container {
        flex-direction: column;
    }

.right-block-child:nth-child(3) {
    display: none;
}

.right-block {
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    margin-top: 40px;
}

.right-block-child {
    width: 48%;
}
}
